<style>
    .link{
        cursor:pointer;
    }
    .image{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 2px;
    }
    .image-special{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 2px;
    }
    .image-special:hover{
        animation: pic-special 1s 1;
    }
    .image:hover{
        animation: pic 1s 1;
    }
    @keyframes pic
    {
        0%
        {
            transform: translate(1%,1%)
        }
    }
    @keyframes pic-special
    {
        0%
        {
            transform: translate(2%,3%)
        }
    }
</style>


<nav class="navbar text-white" *ngIf = "dell" ([ngModel]) = 'dell'
style="background-color: #02172e;">
    <a class="navbar-brand text-white" href="#">
    <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Dell Technologies</a>
</nav>

<nav *ngIf = "navbar1" ([ngModel]) = 'navbar1' ([ngModel]) = 'navbar2' 
class="navbar text-white" style="background-color: #000000;">
    <span class="navbar-brand mb-0 h1" >My Dashboard</span>
</nav>

<nav *ngIf = "navbar2" class="navbar text-white" 
style="background-color: #000000;">
    <button class="btn btn-light" (click)="navbar1 = !navbar1; dell=true;
    navbar2 = !navbar2; toggle1 = !toggle1; toggle2 = !toggle2" style="border-radius: 50%;"><i class="fas fa-arrow-circle-left"></i></button>
</nav>
<div *ngIf="toggle1" ([ngModel])='toggle1' ([ngModel])='toggle2' ([ngModel])='app1' ([ngModel])='app2' ([ngModel])='app3' ([ngModel])='app4' ng-controller="testController">
    <div class="container">
        <div class="row"><br></div>
        <div class="row" style=" height: 23rem; border : 1px black solid">
            <div class="col-3" >
                <button class="btn btn-dark" (click)="toggle1 = !toggle1; toggle2 = !toggle2; app1=true; app2=false; app3=false; app4=false; navbar2=true; navbar1=false;dell=false;">
                    <a class="link" src="">
                        <img class ="image" src="assets/app1.PNG" style="max-width: 100%; height: 19rem;display: block;">
                    </a>
                </button>
            </div>
            <div class="col-3" >
                <button class="btn btn-dark" (click)="toggle1 = !toggle1; toggle2 = !toggle2; app1=false; app2=true; app3=false; app4=false; navbar2=true; navbar1=false;dell=false;">
                    <a class="link">
                        <img class ="image-special" src="assets/app2.PNG" style="max-width: 100%;height: 19rem; display: block;">
                    </a>
                </button>
            </div>
            <div class="col-3" >
                <button class="btn btn-dark" (click)="toggle1 = !toggle1; toggle2 = !toggle2; app1=false; app2=false; app3=true; app4=false; navbar2=true; navbar1=false;dell=false;">
                    <a class="link" src="">
                        <img class ="image" src="assets/app3.PNG" style="max-width: 100%;height: 19rem;display: block;">
                    </a>
                </button>
            </div>
            <div class="col-3" >
                <button class="btn btn-dark" (click)="toggle1 = !toggle1; toggle2 = !toggle2 ; app1=false; app2=false; app3=false; app4=true; navbar2=true; navbar1=false;dell=false;">
                    <a class="link" src="">
                        <img class ="image" src="assets/app4.PNG" style="max-width: 100%;height: 19rem;display: block;">
                    </a>
                </button>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="fixed-bottom">
    <nav class="navbar text-white" style="background-color: #000000;">
        <p style="margin-top: 30px">Powered by Dell Technologies</p>
    </nav>
</div>

<div *ngIf="toggle2" style="border:none;">
    <div style="height:1000px; width:100%; border : 2px solid white;">
        <iframe *ngIf="app1" src="https://www.dell.com/en-in" height="1000px" width="100%"></iframe>
        <iframe *ngIf="app2" src="https://en.wikipedia.org/wiki/Dell_Technologies" height="1000px" width="100%"></iframe>
        <iframe *ngIf="app3" src="https://www.dell.com/learn/in/en/inslg1/safety-emc-products" height="1000px" width="100%"></iframe>
        <iframe *ngIf="app4" src="https://www.delltechnologies.com/en-in/index.htm" height="1000px" width="100%"></iframe>
    </div>
</div>



